<h1>예약하기</h1>

<form name="seat_reservation" method="post" action='/user'>
    <div>
        <label for="flight_number">Flight_number</label>
        <input id="flight_number" name="flight_number" type="text" required placeholder="Flight_number">
    </div>
    <div>
        <label for="leg_number">Leg_number</label>
        <input id="leg_number" name="leg_number" type="text" placeholder="Leg_number">
    </div>
    <div>
        <label for="date">Date</label>
        <input id="date" name="date" type="text" required placeholder="Date">
    </div>
    <div>
        <label for="seat_number">Seat_number</label>
        <input id="seat_number" name="seat_number" type="text" placeholder="Seat_number">
    </div>
    <div>
        <label for="customer_name">Customer_name</label>
        <input id="customer_name" name="customer_name" type="text" placeholder="Customer_name">
    </div>
    <div>
        <label for="customer_phone">Customer_phone</label>
        <input id="customer_phone" name="customer_phone" type="text" placeholder="Customer_phone">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>