<h1>공항 정보 갱신</h1>

<table>
  <tr>
    <td>Airport_code</td>
    <td>Name</td>
    <td>City</td>
    <td>State</td>
  </tr>
    {{#each adminAirport_res}}
    <form method="post" action='/update/adminAirport'>
    <tr>
      <td>{{Airport_code}}</td>
      <td><input type="text" name="name" placeholder={{Name}}></td>
      <td>{{City}}</td>
      <td>{{State}}</td>
      <td><input type="submit" value="수정"></td>
    </tr>
    </form>
    {{/each}}
</table>